﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentímetro</title>
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
    @Styles.Render("~/Content/css")

</head>
<body>
    <main class="wrapper">
        @RenderBody()
        <footer>
            <p>Happy development</p>
        </footer>
    </main>

    @RenderSection("scripts", required: false)
</body>
</html>
