﻿@{
    ViewBag.Title = "Sentímetro";
}
<header class="page-header">
    <img src="~/Content/Images/logo_tokiota.png" />
    <h1>Sentímetro</h1>
</header>
<article class="main-content">
    <section class="actions-wrapper">
        <div class="opciones felicidad">
            <h2>¿Como te sientes?</h2>
            <ul class="actions">
                <li>
                    <button id="happy">
                        <i class="icon sentifont-happy"></i>
                    </button>
                </li>
                <li>
                    <button id="normal">
                        <i class="icon sentifont-normal"></i>
                    </button>
                </li>
                <li>
                    <button id="sad">
                        <i class="icon sentifont-sad"></i>
                    </button>
                </li>
            </ul>
        </div>
        <div class="opciones cargabilidad">
            <h2>¿Como vas?</h2>
            <ul class="actions">
                <li>
                    <button id="carga_poca">
                        <i class="icon sentifont-low"></i>
                    </button>
                </li>
                <li>
                    <button id="carga_normal">
                        <i class="icon sentifont-mid"></i>
                    </button>
                </li>
                <li>
                    <button id="carga_mucha">
                        <i class="icon sentifont-hight"></i>
                    </button>
                </li>
            </ul>
        </div>
    </section>
    <section>
        <button id="enviar">
            <i class="icon sentifont-paper-plane"></i>
        </button>
    </section>
</article>
<script type="text/javascript">
    window.app = window.app || {};
    window.app.urls = window.app.urls || {};
    window.app.urls.apiValoracion = '@System.Configuration.ConfigurationManager.AppSettings["urlApiValoracion"]';
</script>

@section scripts{
    @Scripts.Render("~/js/app")
}