﻿@font-face {
    font-family: "sentimetro";
    src: url("fonts/sentimetro.eot");
    src: url("fonts/sentimetro.eot?#iefix") format("embedded-opentype"), url("fonts/sentimetro.woff") format("woff"), url("fonts/sentimetro.ttf") format("truetype"), url("fonts/sentimetro.svg#sentimetro") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "sentimetro" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="sentifont-"]:before,
[class*=" sentifont-"]:before {
    font-family: "sentimetro" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sentifont-happy:before {
    content: "\e000";
}

.sentifont-normal:before {
    content: "\e001";
}

.sentifont-sad:before {
    content: "\e002";
}

.sentifont-paper-plane:before {
    content: "\e003";
}

.sentifont-paper-plane-o:before {
    content: "\e004";
}

.sentifont-mid:before {
    content: "\e005";
}

.sentifont-hight:before {
    content: "\e006";
}

.sentifont-low:before {
    content: "\e007";
}



/* Main Styles */
html, body {
    font-family: 'Share Tech Mono', monospace;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}


/* Header */
.page-header {
    display: block;
    width: calc(100% - 40px);
    height: 80px;
    padding: 20px;
}

    .page-header img, .page-header h1 {
        display: inline-block;
    }

/* Content - Layout */
.main-content {
    height: calc(100% - 188px);
    display: flex;
    flex-direction: row;
    padding: 15px;
}


/* Actions */
.actions-wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

    .actions-wrapper div {
        flex: 1 1 auto;
    }

.actions {
    list-style: none;
    padding: 0;
}

    .actions li {
        display: inline-block;
    }

    .actions button {
        cursor: pointer;
    }



.back-selected {
    background-color: yellow !important; /*remove important*/
}

.jumbotron img {
    height: 87px;
    margin-top: 22px;
}

.jumbotron h1 {
    margin-left: 10%;
    font-size: 60px;
    height: 100px;
}

.valoracion {
    display: flex;
}

    .valoracion > div:first-child {
        width: 60%;
    }

.imagenes {
    display: flex;
}

    .imagenes div {
        margin-left: 15px;
        margin-right: 15px;
    }

    .imagenes img {
        width: 13vw;
        height: 25vh;
    }

    .imagenes button {
        background: transparent;
        width: auto;
        height: auto;
        font-size: 160px;
        color: black;
        position: relative;
        border-radius: 5px;
        transition: ease-in-out all .1s;
    }

/*.imagenes button i {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }*/

#enviar {
    margin-top: 67px;
    height: 59.3vh;
}
